@font-face {
    font-family: 'Funk';
    src: url('/fonts/Funkturm.otf');
}
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat.otf');
}

::-webkit-scrollbar {
    width: 0px;
}
html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}
.container{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: 'Funk', sans-serif !important;
    font-size: 5rem !important;
}  
h2, h3{
    font-family: 'Funk', sans-serif !important;
}  
h2{
    font-size: 1.5rem !important;
    text-align: center !important;
}
h4{
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    font-family: 'Funk', sans-serif !important;
    font-size: 4rem !important;
    color: transparent;
}
.title{
    position: fixed;
    left: 1%;
    top: 2%;
}
span{
    fill: #242424;
}
.filterBtn{
    position: absolute !important;
    right: 80%;
    top: 2%;
}
.spectateBtn{
    position: absolute !important;
    right: 1%;
    top: 7%;
}
.selected{
    background: rgba(228, 228, 228, 0.664);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(105px);
    -webkit-backdrop-filter: blur(9px);
    position: absolute !important;
    right: 0;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 35%;
    border-radius: 1rem;
    padding: 3rem 5rem;
    z-index: 2;
    height: 100vh;
    overflow-y: auto;
}
.selectedsvg{
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 1rem;
}

.Loading-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    gap: 1rem;
    font-family: 'Funk', sans-serif
}
.screen-size-message{
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Funk', sans-serif;
    line-height: 1.5;
    flex-direction: column;
}
.screen-size-message img{
    width: 15vw;
}
#root{
    display: flex;
    transition: all 10.5s ease;
}
.drawer{
    padding: 0rem;
    overflow: auto;
}
.drawer button{
    width: 100%;
}
.controls{
    position: absolute;
    top: 2%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.start{
    position: absolute;
    width: 60%;
    left: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
    font-family: 'Funk', sans-serif;
    font-size: 7rem;
    text-align: center;
    line-height: 1;
    flex-direction: column;
    color: #242424;
}
.start button{
    font-size: 2rem;
    font-family: 'Funk', sans-serif;
    padding: 1rem 4rem;
    margin-top: 2rem;
}
.walk{
    position: absolute;
    padding: 1rem;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    color: #696969;
}
b{
    color: #242424
}
model-viewer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.cursor{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(218, 218, 218, 0.25);
    border: 3px solid rgb(255, 255, 255);
}
.select{
    padding: 1rem 0.5rem;
    background: transparent;
    border: 2px solid #242424;
    border-radius: 10px;
}   