@font-face {
    font-family: 'Funk';
    src: url('/fonts/Funkturm.otf');
}

::-webkit-scrollbar {
    width: 0px;
}
html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: 'Funk', sans-serif !important;
    font-size: 5rem !important;
}  
h2, h3{
    font-family: 'Funk', sans-serif !important;
}  
h2{
    font-size: 1.5rem !important;
    text-align: center !important;
}
h4{
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    font-family: 'Funk', sans-serif !important;
    font-size: 4rem !important;
    color: transparent;
}
.title{
    position: fixed;
    left: 1%;
    top: 2%;
}
span{
    fill: #242424;
}
.filterBtn{
    position: absolute !important;
    right: 80%;
    top: 2%;
}
.spectateBtn{
    position: absolute !important;
    right: 1%;
    top: 7%;
}
.selected{
    background: rgba(255, 255, 255, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: absolute !important;
    left: 1%;
    bottom: 2%;
    transition: all 0.5s ease;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 35%;
    border-radius: 1rem;
}
.Loading-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    gap: 1rem;
    font-family: 'Funk', sans-serif
}
.screen-size-message{
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Funk', sans-serif;
    line-height: 1.5;
    flex-direction: column;
}
.screen-size-message img{
    width: 15vw;
}
#root{
    display: flex;
    transition: all 10.5s ease;
}
.drawer{
    padding: 0rem;
    overflow: auto;
}
.drawer button{
    width: 100%;
}
.controls{
    position: absolute;
    top: 2%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.test{
    position: absolute;
    top: 2%;
    right: 2%;
}